:root {
  --blue: #1C95DE;
  --default: #CCC;
  --light: #f6f6f6;
}

#icon {width:60%;}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--blue);
}

a {
  color: var(--blue);
  text-decoration: none;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

#formContent {
  background: #fff;
  padding: 0;
  width: 95%;
  max-width: 450px;
  position: relative;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.4);
  text-align: center;
}

#formFooter {
  border-top: 2px solid var(--blue);
  padding: 25px;
}

input {
  text-transform: uppercase;
  border: none;
  text-align: center;
}

input[type="text"]:placeholder {
  color: white;
}

input[type=button], 
input[type=submit], 
input[type=reset]  {
  background-color: var(--blue);
  padding: 15px 80px; 
  font-size: 13px;
  margin: 5px 20px 40px 20px;
  color: white;
}

input[type=text] {
  background-color: var(--light);
  color: var(--blue);
  padding: 15px 32px;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid white;
}

input[type=text]:focus {
  border: none;
  background-color: var(--blue);
  color: white;
}

@keyframes fadeIn { 
  from { 
    opacity:0; 
  } 
  to { 
    opacity:1;
  }
}

.fadeIn {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
}